{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "count_keyword_matches_endpoint_read_9814",
        "termsOfService": "https://ui.us-east.tinybird.co/terms",
        "contact": {
            "email": "support@tinybird.co"
        }
    },
    "servers": [
        {
            "url": "https://api.us-east.tinybird.co/v0"
        }
    ],
    "externalDocs": {
        "description": "Tinybird Analytics documentation",
        "url": "https://docs.tinybird.co"
    },
    "security": [
        {
            "TokenBearerHeader": [
                ""
            ]
        },
        {
            "TokenQueryString": [
                ""
            ]
        }
    ],
    "paths": {
        "/pipes/total_mentions.{format}": {
            "get": {
                "tags": [
                    "Pipes"
                ],
                "summary": "total_mentions",
                "description": "",
                "parameters": [
                    {
                        "name": "format",
                        "required": true,
                        "in": "path",
                        "description": "Response format: `json` or `csv`",
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "description": "SQL statement to run a query against the data returned by the endpoint (e.g SELECT count() FROM _)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "TokenBearerHeader": [
                            "PIPES:READ:total_mentions",
                            "ADMIN"
                        ]
                    },
                    {
                        "TokenQueryString": [
                            "PIPES:READ:total_mentions",
                            "ADMIN"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endpoint result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryJSONResponse__total_mentions"
                                },
                                "example": {
                                    "meta": [
                                        {
                                            "name": "mentions",
                                            "type": "UInt64"
                                        }
                                    ],
                                    "data": [
                                        {
                                            "mentions": 2804162938822577320
                                        },
                                        {
                                            "mentions": 7885388429666205427
                                        },
                                        {
                                            "mentions": 4357435422797280898
                                        }
                                    ],
                                    "rows": 3,
                                    "rows_before_limit_at_least": 3,
                                    "statistics": {
                                        "elapsed": 0.000582233,
                                        "rows_read": 3,
                                        "bytes_read": 24
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryCSVResponse"
                                },
                                "example": "2804162938822577320\n7885388429666205427\n4357435422797280898\n"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "405": {
                        "$ref": "#/components/responses/MethodNotAllowedError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "operationId": "total_mentions_get"
            }
        }
    },
    "components": {
        "securitySchemes": {
            "TokenBearerHeader": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            },
            "TokenQueryString": {
                "type": "apiKey",
                "in": "query",
                "name": "token"
            }
        },
        "responses": {
            "BadRequestError": {
                "description": "Invalid or malformed user input: check your SQL, parameters, and encoding"
            },
            "UnauthorizedError": {
                "description": "Unauthorized request"
            },
            "ForbiddenError": {
                "description": "Access token is missing or invalid: the request does not have enough permissions to be completed"
            },
            "NotFoundError": {
                "description": "Resource not found: the data source, pipe, or endpoint is missing"
            },
            "MethodNotAllowedError": {
                "description": "The method is not allowed in this resource"
            },
            "InternalServerError": {
                "description": "Server could not fulfill the request due to an internal problem: contact support@tinybird.co"
            }
        },
        "schemas": {
            "ApiQueryJSONResponseMetaItem": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    }
                }
            },
            "ApiQueryJSONResponseStatistics": {
                "type": "object",
                "properties": {
                    "elapsed": {
                        "type": "number"
                    },
                    "rows_read": {
                        "type": "number"
                    },
                    "bytes_read": {
                        "type": "number"
                    }
                }
            },
            "ApiQueryJSONResponseDataItem": {
                "type": "object",
                "additionalProperties": {
                    "type": "string"
                }
            },
            "ApiQueryJSONResponse": {
                "type": "object",
                "properties": {
                    "meta": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiQueryJSONResponseMetaItem"
                        }
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiQueryJSONResponseDataItem"
                        }
                    },
                    "rows": {
                        "type": "number"
                    },
                    "rows_before_limit_at_least": {
                        "type": "number"
                    },
                    "statistics": {
                        "$ref": "#/components/schemas/ApiQueryJSONResponseStatistics"
                    }
                },
                "required": [
                    "meta",
                    "data",
                    "rows",
                    "statistics"
                ]
            },
            "ApiQueryCSVResponse": {
                "type": "string",
                "format": "csv"
            },
            "ApiQueryJSONResponseDataItem__total_mentions": {
                "type": "object",
                "properties": {
                    "mentions": {
                        "type": "integer",
                        "format": "int64"
                    }
                }
            },
            "ApiQueryJSONResponse__total_mentions": {
                "type": "object",
                "properties": {
                    "meta": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiQueryJSONResponseMetaItem"
                        }
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiQueryJSONResponseDataItem__total_mentions"
                        }
                    },
                    "rows": {
                        "type": "number"
                    },
                    "rows_before_limit_at_least": {
                        "type": "number"
                    },
                    "statistics": {
                        "$ref": "#/components/schemas/ApiQueryJSONResponseStatistics"
                    }
                },
                "required": [
                    "meta",
                    "data",
                    "rows",
                    "statistics"
                ]
            }
        }
    }
}