{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "dev-pipes-token",
        "termsOfService": "https://ui.us-east.tinybird.co/terms",
        "contact": {
            "email": "support@tinybird.co"
        }
    },
    "servers": [
        {
            "url": "https://api.us-east.tinybird.co/v0"
        }
    ],
    "externalDocs": {
        "description": "Tinybird Analytics documentation",
        "url": "https://docs.tinybird.co"
    },
    "security": [
        {
            "TokenBearerHeader": [
                "BEARER_TOKEN"
            ]
        },
        {
            "TokenQueryString": [
                "BEARER_TOKEN"
            ]
        }
    ],
    "paths": {
        "/pipes/count_keyword_matches.{format}": {
            "get": {
                "tags": [
                    "Pipes"
                ],
                "summary": "count_keyword_matches",
                "description": "",
                "parameters": [
                    {
                        "name": "format",
                        "required": true,
                        "in": "path",
                        "description": "Response format: `json` or `csv`",
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "description": "SQL statement to run a query against the data returned by the endpoint (e.g SELECT count() FROM _)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "TokenBearerHeader": [
                            "PIPES:READ:count_keyword_matches",
                            "ADMIN"
                        ]
                    },
                    {
                        "TokenQueryString": [
                            "PIPES:READ:count_keyword_matches",
                            "ADMIN"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endpoint result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryJSONResponse__count_keyword_matches"
                                },
                                "example": {
                                    "meta": [
                                        {
                                            "name": "totalMatches",
                                            "type": "UInt64"
                                        }
                                    ],
                                    "data": [
                                        {
                                            "totalMatches": 2804162938822577320
                                        },
                                        {
                                            "totalMatches": 7885388429666205427
                                        },
                                        {
                                            "totalMatches": 4357435422797280898
                                        }
                                    ],
                                    "rows": 3,
                                    "rows_before_limit_at_least": 3,
                                    "statistics": {
                                        "elapsed": 0.000905788,
                                        "rows_read": 3,
                                        "bytes_read": 24
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryCSVResponse"
                                },
                                "example": "2804162938822577320\n7885388429666205427\n4357435422797280898\n"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "405": {
                        "$ref": "#/components/responses/MethodNotAllowedError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "operationId": "count_keyword_matches_get"
            },
            "post": {
                "tags": [
                    "Pipes"
                ],
                "summary": "count_keyword_matches",
                "description": "",
                "parameters": [
                    {
                        "name": "format",
                        "required": true,
                        "in": "path",
                        "description": "Response format: `json` or `csv`",
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "description": "SQL statement to run a query against the data returned by the endpoint (e.g SELECT count() FROM _)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "TokenBearerHeader": [
                            "PIPES:READ:count_keyword_matches",
                            "ADMIN"
                        ]
                    },
                    {
                        "TokenQueryString": [
                            "PIPES:READ:count_keyword_matches",
                            "ADMIN"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endpoint result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryJSONResponse__count_keyword_matches"
                                },
                                "example": {
                                    "meta": [
                                        {
                                            "name": "totalMatches",
                                            "type": "UInt64"
                                        }
                                    ],
                                    "data": [
                                        {
                                            "totalMatches": 2804162938822577320
                                        },
                                        {
                                            "totalMatches": 7885388429666205427
                                        },
                                        {
                                            "totalMatches": 4357435422797280898
                                        }
                                    ],
                                    "rows": 3,
                                    "rows_before_limit_at_least": 3,
                                    "statistics": {
                                        "elapsed": 0.000905788,
                                        "rows_read": 3,
                                        "bytes_read": 24
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryCSVResponse"
                                },
                                "example": "2804162938822577320\n7885388429666205427\n4357435422797280898\n"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "405": {
                        "$ref": "#/components/responses/MethodNotAllowedError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "operationId": "count_keyword_matches_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        }
                    }
                }
            }
        },
        "/pipes/average_sentiment_comments.{format}": {
            "get": {
                "tags": [
                    "Pipes"
                ],
                "summary": "average_sentiment_comments",
                "description": "",
                "parameters": [
                    {
                        "name": "format",
                        "required": true,
                        "in": "path",
                        "description": "Response format: `json` or `csv`",
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "description": "SQL statement to run a query against the data returned by the endpoint (e.g SELECT count() FROM _)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "TokenBearerHeader": [
                            "PIPES:READ:average_sentiment_comments",
                            "ADMIN"
                        ]
                    },
                    {
                        "TokenQueryString": [
                            "PIPES:READ:average_sentiment_comments",
                            "ADMIN"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endpoint result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryJSONResponse__average_sentiment_comments"
                                },
                                "example": {
                                    "meta": [
                                        {
                                            "name": "avgSentiment",
                                            "type": "Float64"
                                        }
                                    ],
                                    "data": [
                                        {
                                            "avgSentiment": 3.193439779530142e-121
                                        },
                                        {
                                            "avgSentiment": 1.3470253913849581e+219
                                        },
                                        {
                                            "avgSentiment": 2.144155604953677e-17
                                        }
                                    ],
                                    "rows": 3,
                                    "rows_before_limit_at_least": 3,
                                    "statistics": {
                                        "elapsed": 0.000561911,
                                        "rows_read": 3,
                                        "bytes_read": 24
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryCSVResponse"
                                },
                                "example": "3.193439779530142e-121\n1.3470253913849581e219\n2.144155604953677e-17\n"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "405": {
                        "$ref": "#/components/responses/MethodNotAllowedError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "operationId": "average_sentiment_comments_get"
            },
            "post": {
                "tags": [
                    "Pipes"
                ],
                "summary": "average_sentiment_comments",
                "description": "",
                "parameters": [
                    {
                        "name": "format",
                        "required": true,
                        "in": "path",
                        "description": "Response format: `json` or `csv`",
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "description": "SQL statement to run a query against the data returned by the endpoint (e.g SELECT count() FROM _)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "TokenBearerHeader": [
                            "PIPES:READ:average_sentiment_comments",
                            "ADMIN"
                        ]
                    },
                    {
                        "TokenQueryString": [
                            "PIPES:READ:average_sentiment_comments",
                            "ADMIN"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endpoint result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryJSONResponse__average_sentiment_comments"
                                },
                                "example": {
                                    "meta": [
                                        {
                                            "name": "avgSentiment",
                                            "type": "Float64"
                                        }
                                    ],
                                    "data": [
                                        {
                                            "avgSentiment": 3.193439779530142e-121
                                        },
                                        {
                                            "avgSentiment": 1.3470253913849581e+219
                                        },
                                        {
                                            "avgSentiment": 2.144155604953677e-17
                                        }
                                    ],
                                    "rows": 3,
                                    "rows_before_limit_at_least": 3,
                                    "statistics": {
                                        "elapsed": 0.000561911,
                                        "rows_read": 3,
                                        "bytes_read": 24
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryCSVResponse"
                                },
                                "example": "3.193439779530142e-121\n1.3470253913849581e219\n2.144155604953677e-17\n"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "405": {
                        "$ref": "#/components/responses/MethodNotAllowedError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "operationId": "average_sentiment_comments_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        }
                    }
                }
            }
        },
        "/pipes/total_likes.{format}": {
            "get": {
                "tags": [
                    "Pipes"
                ],
                "summary": "total_likes",
                "description": "",
                "parameters": [
                    {
                        "name": "format",
                        "required": true,
                        "in": "path",
                        "description": "Response format: `json` or `csv`",
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "description": "SQL statement to run a query against the data returned by the endpoint (e.g SELECT count() FROM _)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "TokenBearerHeader": [
                            "PIPES:READ:total_likes",
                            "ADMIN"
                        ]
                    },
                    {
                        "TokenQueryString": [
                            "PIPES:READ:total_likes",
                            "ADMIN"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endpoint result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryJSONResponse__total_likes"
                                },
                                "example": {
                                    "meta": [
                                        {
                                            "name": "totalLikes",
                                            "type": "Int64"
                                        }
                                    ],
                                    "data": [
                                        {
                                            "totalLikes": 2804162938822577320
                                        },
                                        {
                                            "totalLikes": 7885388429666205427
                                        },
                                        {
                                            "totalLikes": 4357435422797280898
                                        }
                                    ],
                                    "rows": 3,
                                    "rows_before_limit_at_least": 3,
                                    "statistics": {
                                        "elapsed": 0.000586077,
                                        "rows_read": 3,
                                        "bytes_read": 24
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryCSVResponse"
                                },
                                "example": "2804162938822577320\n7885388429666205427\n4357435422797280898\n"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "405": {
                        "$ref": "#/components/responses/MethodNotAllowedError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "operationId": "total_likes_get"
            },
            "post": {
                "tags": [
                    "Pipes"
                ],
                "summary": "total_likes",
                "description": "",
                "parameters": [
                    {
                        "name": "format",
                        "required": true,
                        "in": "path",
                        "description": "Response format: `json` or `csv`",
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "description": "SQL statement to run a query against the data returned by the endpoint (e.g SELECT count() FROM _)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "TokenBearerHeader": [
                            "PIPES:READ:total_likes",
                            "ADMIN"
                        ]
                    },
                    {
                        "TokenQueryString": [
                            "PIPES:READ:total_likes",
                            "ADMIN"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endpoint result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryJSONResponse__total_likes"
                                },
                                "example": {
                                    "meta": [
                                        {
                                            "name": "totalLikes",
                                            "type": "Int64"
                                        }
                                    ],
                                    "data": [
                                        {
                                            "totalLikes": 2804162938822577320
                                        },
                                        {
                                            "totalLikes": 7885388429666205427
                                        },
                                        {
                                            "totalLikes": 4357435422797280898
                                        }
                                    ],
                                    "rows": 3,
                                    "rows_before_limit_at_least": 3,
                                    "statistics": {
                                        "elapsed": 0.000586077,
                                        "rows_read": 3,
                                        "bytes_read": 24
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryCSVResponse"
                                },
                                "example": "2804162938822577320\n7885388429666205427\n4357435422797280898\n"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "405": {
                        "$ref": "#/components/responses/MethodNotAllowedError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "operationId": "total_likes_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        }
                    }
                }
            }
        },
        "/pipes/video_matches.{format}": {
            "get": {
                "tags": [
                    "Pipes"
                ],
                "summary": "video_matches",
                "description": "",
                "parameters": [
                    {
                        "name": "format",
                        "required": true,
                        "in": "path",
                        "description": "Response format: `json` or `csv`",
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "description": "SQL statement to run a query against the data returned by the endpoint (e.g SELECT count() FROM _)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "TokenBearerHeader": [
                            "PIPES:READ:video_matches",
                            "ADMIN"
                        ]
                    },
                    {
                        "TokenQueryString": [
                            "PIPES:READ:video_matches",
                            "ADMIN"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endpoint result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryJSONResponse__video_matches"
                                },
                                "example": {
                                    "meta": [
                                        {
                                            "name": "videoId",
                                            "type": "String"
                                        },
                                        {
                                            "name": "numMatches",
                                            "type": "UInt64"
                                        },
                                        {
                                            "name": "title",
                                            "type": "String"
                                        }
                                    ],
                                    "data": [
                                        {
                                            "videoId": "fSRH40d6sX",
                                            "numMatches": 821735343441964030,
                                            "title": "g|(&Ql"
                                        },
                                        {
                                            "videoId": "",
                                            "numMatches": 9558594037060121162,
                                            "title": "^ipx|,=a5N"
                                        },
                                        {
                                            "videoId": "=@ep]Vw~",
                                            "numMatches": 18443967239938010758,
                                            "title": "(U]p'l`"
                                        }
                                    ],
                                    "rows": 3,
                                    "rows_before_limit_at_least": 3,
                                    "statistics": {
                                        "elapsed": 0.000914935,
                                        "rows_read": 3,
                                        "bytes_read": 119
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryCSVResponse"
                                },
                                "example": "\"fSRH40d6sX\",821735343441964030,\"g|(&Ql\"\n\"\",9558594037060121162,\"^ipx|,=a5N\"\n\"=@ep]Vw~\",18443967239938010758,\"(U]p'l`\"\n"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "405": {
                        "$ref": "#/components/responses/MethodNotAllowedError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "operationId": "video_matches_get"
            },
            "post": {
                "tags": [
                    "Pipes"
                ],
                "summary": "video_matches",
                "description": "",
                "parameters": [
                    {
                        "name": "format",
                        "required": true,
                        "in": "path",
                        "description": "Response format: `json` or `csv`",
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "description": "SQL statement to run a query against the data returned by the endpoint (e.g SELECT count() FROM _)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "TokenBearerHeader": [
                            "PIPES:READ:video_matches",
                            "ADMIN"
                        ]
                    },
                    {
                        "TokenQueryString": [
                            "PIPES:READ:video_matches",
                            "ADMIN"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endpoint result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryJSONResponse__video_matches"
                                },
                                "example": {
                                    "meta": [
                                        {
                                            "name": "videoId",
                                            "type": "String"
                                        },
                                        {
                                            "name": "numMatches",
                                            "type": "UInt64"
                                        },
                                        {
                                            "name": "title",
                                            "type": "String"
                                        }
                                    ],
                                    "data": [
                                        {
                                            "videoId": "fSRH40d6sX",
                                            "numMatches": 821735343441964030,
                                            "title": "g|(&Ql"
                                        },
                                        {
                                            "videoId": "",
                                            "numMatches": 9558594037060121162,
                                            "title": "^ipx|,=a5N"
                                        },
                                        {
                                            "videoId": "=@ep]Vw~",
                                            "numMatches": 18443967239938010758,
                                            "title": "(U]p'l`"
                                        }
                                    ],
                                    "rows": 3,
                                    "rows_before_limit_at_least": 3,
                                    "statistics": {
                                        "elapsed": 0.000914935,
                                        "rows_read": 3,
                                        "bytes_read": 119
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryCSVResponse"
                                },
                                "example": "\"fSRH40d6sX\",821735343441964030,\"g|(&Ql\"\n\"\",9558594037060121162,\"^ipx|,=a5N\"\n\"=@ep]Vw~\",18443967239938010758,\"(U]p'l`\"\n"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "405": {
                        "$ref": "#/components/responses/MethodNotAllowedError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "operationId": "video_matches_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        }
                    }
                }
            }
        },
        "/pipes/day_of_week_counts.{format}": {
            "get": {
                "tags": [
                    "Pipes"
                ],
                "summary": "day_of_week_counts",
                "description": "",
                "parameters": [
                    {
                        "name": "format",
                        "required": true,
                        "in": "path",
                        "description": "Response format: `json` or `csv`",
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "description": "SQL statement to run a query against the data returned by the endpoint (e.g SELECT count() FROM _)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "TokenBearerHeader": [
                            "PIPES:READ:day_of_week_counts",
                            "ADMIN"
                        ]
                    },
                    {
                        "TokenQueryString": [
                            "PIPES:READ:day_of_week_counts",
                            "ADMIN"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endpoint result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryJSONResponse__day_of_week_counts"
                                },
                                "example": {
                                    "meta": [
                                        {
                                            "name": "day_of_week",
                                            "type": "UInt8"
                                        },
                                        {
                                            "name": "comment_count",
                                            "type": "UInt64"
                                        }
                                    ],
                                    "data": [
                                        {
                                            "day_of_week": 168,
                                            "comment_count": 7885388429666205427
                                        },
                                        {
                                            "day_of_week": 204,
                                            "comment_count": 4357435422797280898
                                        },
                                        {
                                            "day_of_week": 213,
                                            "comment_count": 5935810273536892891
                                        }
                                    ],
                                    "rows": 3,
                                    "rows_before_limit_at_least": 3,
                                    "statistics": {
                                        "elapsed": 0.000961258,
                                        "rows_read": 3,
                                        "bytes_read": 27
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryCSVResponse"
                                },
                                "example": "168,7885388429666205427\n204,4357435422797280898\n213,5935810273536892891\n"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "405": {
                        "$ref": "#/components/responses/MethodNotAllowedError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "operationId": "day_of_week_counts_get"
            },
            "post": {
                "tags": [
                    "Pipes"
                ],
                "summary": "day_of_week_counts",
                "description": "",
                "parameters": [
                    {
                        "name": "format",
                        "required": true,
                        "in": "path",
                        "description": "Response format: `json` or `csv`",
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "description": "SQL statement to run a query against the data returned by the endpoint (e.g SELECT count() FROM _)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "TokenBearerHeader": [
                            "PIPES:READ:day_of_week_counts",
                            "ADMIN"
                        ]
                    },
                    {
                        "TokenQueryString": [
                            "PIPES:READ:day_of_week_counts",
                            "ADMIN"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endpoint result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryJSONResponse__day_of_week_counts"
                                },
                                "example": {
                                    "meta": [
                                        {
                                            "name": "day_of_week",
                                            "type": "UInt8"
                                        },
                                        {
                                            "name": "comment_count",
                                            "type": "UInt64"
                                        }
                                    ],
                                    "data": [
                                        {
                                            "day_of_week": 168,
                                            "comment_count": 7885388429666205427
                                        },
                                        {
                                            "day_of_week": 204,
                                            "comment_count": 4357435422797280898
                                        },
                                        {
                                            "day_of_week": 213,
                                            "comment_count": 5935810273536892891
                                        }
                                    ],
                                    "rows": 3,
                                    "rows_before_limit_at_least": 3,
                                    "statistics": {
                                        "elapsed": 0.000961258,
                                        "rows_read": 3,
                                        "bytes_read": 27
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryCSVResponse"
                                },
                                "example": "168,7885388429666205427\n204,4357435422797280898\n213,5935810273536892891\n"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "405": {
                        "$ref": "#/components/responses/MethodNotAllowedError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "operationId": "day_of_week_counts_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {}
                            }
                        }
                    }
                }
            }
        },
        "/pipes/filter_keyword_and_date_index_improved_2.{format}": {
            "get": {
                "tags": [
                    "Pipes"
                ],
                "summary": "filter_keyword_and_date_index_improved_2",
                "description": "",
                "parameters": [
                    {
                        "in": "query",
                        "name": "endDate",
                        "description": "",
                        "required": false,
                        "example": null,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "default": "2024-08-06"
                        }
                    },
                    {
                        "in": "query",
                        "name": "keywords",
                        "description": "",
                        "required": false,
                        "example": null,
                        "schema": {
                            "type": "array",
                            "default": [
                                "hello",
                                "test"
                            ],
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "in": "query",
                        "name": "requireAll",
                        "description": "",
                        "required": false,
                        "example": null,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "query",
                        "name": "startDate",
                        "description": "",
                        "required": false,
                        "example": null,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "default": "2024-08-05"
                        }
                    },
                    {
                        "name": "format",
                        "required": true,
                        "in": "path",
                        "description": "Response format: `json` or `csv`",
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "description": "SQL statement to run a query against the data returned by the endpoint (e.g SELECT count() FROM _)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "TokenBearerHeader": [
                            "PIPES:READ:filter_keyword_and_date_index_improved_2",
                            "ADMIN"
                        ]
                    },
                    {
                        "TokenQueryString": [
                            "PIPES:READ:filter_keyword_and_date_index_improved_2",
                            "ADMIN"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endpoint result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryJSONResponse__filter_keyword_and_date_index_improved_2"
                                },
                                "example": {
                                    "meta": [
                                        {
                                            "name": "period",
                                            "type": "DateTime"
                                        },
                                        {
                                            "name": "ai_extracted_keywords_mock",
                                            "type": "String"
                                        },
                                        {
                                            "name": "ai_marketing_category_mock",
                                            "type": "String"
                                        },
                                        {
                                            "name": "ai_sentiment_mock",
                                            "type": "Float32"
                                        },
                                        {
                                            "name": "ai_spam_likelihood_mock",
                                            "type": "Float32"
                                        },
                                        {
                                            "name": "channelId",
                                            "type": "String"
                                        },
                                        {
                                            "name": "commentId",
                                            "type": "String"
                                        },
                                        {
                                            "name": "dataTag",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_authorChannelUrl",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_authorChannel_Id_value",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_authorDisplayName",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_authorProfileImageUrl",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_canRate",
                                            "type": "Int16"
                                        },
                                        {
                                            "name": "data_channelId",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_likeCount",
                                            "type": "Int32"
                                        },
                                        {
                                            "name": "data_moderationStatus",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_parentId",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_publishedAt",
                                            "type": "DateTime"
                                        },
                                        {
                                            "name": "data_textDisplay",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_textOriginal",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_updatedAt",
                                            "type": "DateTime"
                                        },
                                        {
                                            "name": "data_viewerRating",
                                            "type": "String"
                                        },
                                        {
                                            "name": "numReplies",
                                            "type": "Int16"
                                        },
                                        {
                                            "name": "parentCommentId",
                                            "type": "String"
                                        },
                                        {
                                            "name": "timestamp",
                                            "type": "Int64"
                                        },
                                        {
                                            "name": "videoId",
                                            "type": "String"
                                        }
                                    ],
                                    "data": [
                                        {
                                            "period": "2100-03-02 06:31:04",
                                            "ai_extracted_keywords_mock": "sX6>+#\\!",
                                            "ai_marketing_category_mock": "6xGwg|(&Q",
                                            "ai_sentiment_mock": -6.0782825e+32,
                                            "ai_spam_likelihood_mock": -31.958,
                                            "channelId": "]lB}RL,{Xs",
                                            "commentId": "3&}|k",
                                            "dataTag": "UeS}D",
                                            "data_authorChannelUrl": "&b!M-e;7",
                                            "data_authorChannel_Id_value": "_@}a ",
                                            "data_authorDisplayName": "r;5qbK&t+",
                                            "data_authorProfileImageUrl": "4S9,;m",
                                            "data_canRate": -25195,
                                            "data_channelId": "Fm?'",
                                            "data_likeCount": -247540310,
                                            "data_moderationStatus": "TaI&szh",
                                            "data_parentId": "bX?}ix [",
                                            "data_publishedAt": "1982-10-16 22:29:31",
                                            "data_textDisplay": "3D1n8",
                                            "data_textOriginal": "",
                                            "data_updatedAt": "2019-08-17 08:13:06",
                                            "data_viewerRating": "ZTsEB5Nv",
                                            "numReplies": 7831,
                                            "parentCommentId": "WC'/]",
                                            "timestamp": 930435754794426301,
                                            "videoId": ""
                                        },
                                        {
                                            "period": "1990-09-09 15:44:21",
                                            "ai_extracted_keywords_mock": "=@ep]Vw~",
                                            "ai_marketing_category_mock": "^ipx|,=a5N",
                                            "ai_sentiment_mock": -0.00020284003,
                                            "ai_spam_likelihood_mock": 2.049104e+22,
                                            "channelId": "Br} `xb",
                                            "commentId": "f,w$",
                                            "dataTag": "0Z3|h",
                                            "data_authorChannelUrl": "Dj7peUH{T",
                                            "data_authorChannel_Id_value": "_}!",
                                            "data_authorDisplayName": "4?a]25n#",
                                            "data_authorProfileImageUrl": "RM nh|E7*",
                                            "data_canRate": -15636,
                                            "data_channelId": "/D$",
                                            "data_likeCount": -393049165,
                                            "data_moderationStatus": "Hnc?lApSP",
                                            "data_parentId": "UlI+1",
                                            "data_publishedAt": "1975-03-10 21:45:43",
                                            "data_textDisplay": "# ;M<:{M",
                                            "data_textOriginal": "p",
                                            "data_updatedAt": "1981-09-28 20:24:34",
                                            "data_viewerRating": "{dOzr.rb*q",
                                            "numReplies": -8177,
                                            "parentCommentId": "9HN",
                                            "timestamp": 8606279199122887653,
                                            "videoId": "Ti~3)N)<"
                                        },
                                        {
                                            "period": "2043-06-28 12:02:59",
                                            "ai_extracted_keywords_mock": "b'",
                                            "ai_marketing_category_mock": "(U]p'l`",
                                            "ai_sentiment_mock": 0.016059656,
                                            "ai_spam_likelihood_mock": 9.766122e-30,
                                            "channelId": "3^n2?",
                                            "commentId": "TlL",
                                            "dataTag": "-]",
                                            "data_authorChannelUrl": "=D[",
                                            "data_authorChannel_Id_value": "O,9V",
                                            "data_authorDisplayName": "_K",
                                            "data_authorProfileImageUrl": "-L[3",
                                            "data_canRate": -7491,
                                            "data_channelId": ".7^Jp5sba$",
                                            "data_likeCount": 1544904576,
                                            "data_moderationStatus": "2O\"ms26O>",
                                            "data_parentId": "U",
                                            "data_publishedAt": "2040-05-22 14:19:31",
                                            "data_textDisplay": "t<iT",
                                            "data_textOriginal": "dqC",
                                            "data_updatedAt": "2055-06-18 02:06:52",
                                            "data_viewerRating": "aw7*u}BD",
                                            "numReplies": 8564,
                                            "parentCommentId": ";URVOy\\",
                                            "timestamp": 6572365037547972917,
                                            "videoId": "Sx>b:^UG"
                                        }
                                    ],
                                    "rows": 3,
                                    "rows_before_limit_at_least": 3,
                                    "statistics": {
                                        "elapsed": 0.063576954,
                                        "rows_read": 3,
                                        "bytes_read": 861
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryCSVResponse"
                                },
                                "example": "\"2100-03-02 06:31:04\",\"sX6>+#\\!\",\"6xGwg|(&Q\",-6.0782825e32,-31.958,\"]lB}RL,{Xs\",\"3&}|k\",\"UeS}D\",\"&b!M-e;7\",\"_@}a \",\"r;5qbK&t+\",\"4S9,;m\",-25195,\"Fm?'\",-247540310,\"TaI&szh\",\"bX?}ix [\",\"1982-10-16 22:29:31\",\"3D1n8\",\"\",\"2019-08-17 08:13:06\",\"ZTsEB5Nv\",7831,\"WC'/]\",930435754794426301,\"\"\n\"1990-09-09 15:44:21\",\"=@ep]Vw~\",\"^ipx|,=a5N\",-0.00020284003,2.049104e22,\"Br} `xb\",\"f,w$\",\"0Z3|h\",\"Dj7peUH{T\",\"_}!\",\"4?a]25n#\",\"RM nh|E7*\",-15636,\"/D$\",-393049165,\"Hnc?lApSP\",\"UlI+1\",\"1975-03-10 21:45:43\",\"# ;M<:{M\",\"p\",\"1981-09-28 20:24:34\",\"{dOzr.rb*q\",-8177,\"9HN\",8606279199122887653,\"Ti~3)N)<\"\n\"2043-06-28 12:02:59\",\"b'\",\"(U]p'l`\",0.016059656,9.766122e-30,\"3^n2?\",\"TlL\",\"-]\",\"=D[\",\"O,9V\",\"_K\",\"-L[3\",-7491,\".7^Jp5sba$\",1544904576,\"2O\"\"ms26O>\",\"U\",\"2040-05-22 14:19:31\",\"t<iT\",\"dqC\",\"2055-06-18 02:06:52\",\"aw7*u}BD\",8564,\";URVOy\\\",6572365037547972917,\"Sx>b:^UG\"\n"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "405": {
                        "$ref": "#/components/responses/MethodNotAllowedError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "operationId": "filter_keyword_and_date_index_improved_2_get"
            },
            "post": {
                "tags": [
                    "Pipes"
                ],
                "summary": "filter_keyword_and_date_index_improved_2",
                "description": "",
                "parameters": [
                    {
                        "name": "format",
                        "required": true,
                        "in": "path",
                        "description": "Response format: `json` or `csv`",
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "description": "SQL statement to run a query against the data returned by the endpoint (e.g SELECT count() FROM _)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "TokenBearerHeader": [
                            "PIPES:READ:filter_keyword_and_date_index_improved_2",
                            "ADMIN"
                        ]
                    },
                    {
                        "TokenQueryString": [
                            "PIPES:READ:filter_keyword_and_date_index_improved_2",
                            "ADMIN"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endpoint result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryJSONResponse__filter_keyword_and_date_index_improved_2"
                                },
                                "example": {
                                    "meta": [
                                        {
                                            "name": "period",
                                            "type": "DateTime"
                                        },
                                        {
                                            "name": "ai_extracted_keywords_mock",
                                            "type": "String"
                                        },
                                        {
                                            "name": "ai_marketing_category_mock",
                                            "type": "String"
                                        },
                                        {
                                            "name": "ai_sentiment_mock",
                                            "type": "Float32"
                                        },
                                        {
                                            "name": "ai_spam_likelihood_mock",
                                            "type": "Float32"
                                        },
                                        {
                                            "name": "channelId",
                                            "type": "String"
                                        },
                                        {
                                            "name": "commentId",
                                            "type": "String"
                                        },
                                        {
                                            "name": "dataTag",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_authorChannelUrl",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_authorChannel_Id_value",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_authorDisplayName",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_authorProfileImageUrl",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_canRate",
                                            "type": "Int16"
                                        },
                                        {
                                            "name": "data_channelId",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_likeCount",
                                            "type": "Int32"
                                        },
                                        {
                                            "name": "data_moderationStatus",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_parentId",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_publishedAt",
                                            "type": "DateTime"
                                        },
                                        {
                                            "name": "data_textDisplay",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_textOriginal",
                                            "type": "String"
                                        },
                                        {
                                            "name": "data_updatedAt",
                                            "type": "DateTime"
                                        },
                                        {
                                            "name": "data_viewerRating",
                                            "type": "String"
                                        },
                                        {
                                            "name": "numReplies",
                                            "type": "Int16"
                                        },
                                        {
                                            "name": "parentCommentId",
                                            "type": "String"
                                        },
                                        {
                                            "name": "timestamp",
                                            "type": "Int64"
                                        },
                                        {
                                            "name": "videoId",
                                            "type": "String"
                                        }
                                    ],
                                    "data": [
                                        {
                                            "period": "2100-03-02 06:31:04",
                                            "ai_extracted_keywords_mock": "sX6>+#\\!",
                                            "ai_marketing_category_mock": "6xGwg|(&Q",
                                            "ai_sentiment_mock": -6.0782825e+32,
                                            "ai_spam_likelihood_mock": -31.958,
                                            "channelId": "]lB}RL,{Xs",
                                            "commentId": "3&}|k",
                                            "dataTag": "UeS}D",
                                            "data_authorChannelUrl": "&b!M-e;7",
                                            "data_authorChannel_Id_value": "_@}a ",
                                            "data_authorDisplayName": "r;5qbK&t+",
                                            "data_authorProfileImageUrl": "4S9,;m",
                                            "data_canRate": -25195,
                                            "data_channelId": "Fm?'",
                                            "data_likeCount": -247540310,
                                            "data_moderationStatus": "TaI&szh",
                                            "data_parentId": "bX?}ix [",
                                            "data_publishedAt": "1982-10-16 22:29:31",
                                            "data_textDisplay": "3D1n8",
                                            "data_textOriginal": "",
                                            "data_updatedAt": "2019-08-17 08:13:06",
                                            "data_viewerRating": "ZTsEB5Nv",
                                            "numReplies": 7831,
                                            "parentCommentId": "WC'/]",
                                            "timestamp": 930435754794426301,
                                            "videoId": ""
                                        },
                                        {
                                            "period": "1990-09-09 15:44:21",
                                            "ai_extracted_keywords_mock": "=@ep]Vw~",
                                            "ai_marketing_category_mock": "^ipx|,=a5N",
                                            "ai_sentiment_mock": -0.00020284003,
                                            "ai_spam_likelihood_mock": 2.049104e+22,
                                            "channelId": "Br} `xb",
                                            "commentId": "f,w$",
                                            "dataTag": "0Z3|h",
                                            "data_authorChannelUrl": "Dj7peUH{T",
                                            "data_authorChannel_Id_value": "_}!",
                                            "data_authorDisplayName": "4?a]25n#",
                                            "data_authorProfileImageUrl": "RM nh|E7*",
                                            "data_canRate": -15636,
                                            "data_channelId": "/D$",
                                            "data_likeCount": -393049165,
                                            "data_moderationStatus": "Hnc?lApSP",
                                            "data_parentId": "UlI+1",
                                            "data_publishedAt": "1975-03-10 21:45:43",
                                            "data_textDisplay": "# ;M<:{M",
                                            "data_textOriginal": "p",
                                            "data_updatedAt": "1981-09-28 20:24:34",
                                            "data_viewerRating": "{dOzr.rb*q",
                                            "numReplies": -8177,
                                            "parentCommentId": "9HN",
                                            "timestamp": 8606279199122887653,
                                            "videoId": "Ti~3)N)<"
                                        },
                                        {
                                            "period": "2043-06-28 12:02:59",
                                            "ai_extracted_keywords_mock": "b'",
                                            "ai_marketing_category_mock": "(U]p'l`",
                                            "ai_sentiment_mock": 0.016059656,
                                            "ai_spam_likelihood_mock": 9.766122e-30,
                                            "channelId": "3^n2?",
                                            "commentId": "TlL",
                                            "dataTag": "-]",
                                            "data_authorChannelUrl": "=D[",
                                            "data_authorChannel_Id_value": "O,9V",
                                            "data_authorDisplayName": "_K",
                                            "data_authorProfileImageUrl": "-L[3",
                                            "data_canRate": -7491,
                                            "data_channelId": ".7^Jp5sba$",
                                            "data_likeCount": 1544904576,
                                            "data_moderationStatus": "2O\"ms26O>",
                                            "data_parentId": "U",
                                            "data_publishedAt": "2040-05-22 14:19:31",
                                            "data_textDisplay": "t<iT",
                                            "data_textOriginal": "dqC",
                                            "data_updatedAt": "2055-06-18 02:06:52",
                                            "data_viewerRating": "aw7*u}BD",
                                            "numReplies": 8564,
                                            "parentCommentId": ";URVOy\\",
                                            "timestamp": 6572365037547972917,
                                            "videoId": "Sx>b:^UG"
                                        }
                                    ],
                                    "rows": 3,
                                    "rows_before_limit_at_least": 3,
                                    "statistics": {
                                        "elapsed": 0.063576954,
                                        "rows_read": 3,
                                        "bytes_read": 861
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryCSVResponse"
                                },
                                "example": "\"2100-03-02 06:31:04\",\"sX6>+#\\!\",\"6xGwg|(&Q\",-6.0782825e32,-31.958,\"]lB}RL,{Xs\",\"3&}|k\",\"UeS}D\",\"&b!M-e;7\",\"_@}a \",\"r;5qbK&t+\",\"4S9,;m\",-25195,\"Fm?'\",-247540310,\"TaI&szh\",\"bX?}ix [\",\"1982-10-16 22:29:31\",\"3D1n8\",\"\",\"2019-08-17 08:13:06\",\"ZTsEB5Nv\",7831,\"WC'/]\",930435754794426301,\"\"\n\"1990-09-09 15:44:21\",\"=@ep]Vw~\",\"^ipx|,=a5N\",-0.00020284003,2.049104e22,\"Br} `xb\",\"f,w$\",\"0Z3|h\",\"Dj7peUH{T\",\"_}!\",\"4?a]25n#\",\"RM nh|E7*\",-15636,\"/D$\",-393049165,\"Hnc?lApSP\",\"UlI+1\",\"1975-03-10 21:45:43\",\"# ;M<:{M\",\"p\",\"1981-09-28 20:24:34\",\"{dOzr.rb*q\",-8177,\"9HN\",8606279199122887653,\"Ti~3)N)<\"\n\"2043-06-28 12:02:59\",\"b'\",\"(U]p'l`\",0.016059656,9.766122e-30,\"3^n2?\",\"TlL\",\"-]\",\"=D[\",\"O,9V\",\"_K\",\"-L[3\",-7491,\".7^Jp5sba$\",1544904576,\"2O\"\"ms26O>\",\"U\",\"2040-05-22 14:19:31\",\"t<iT\",\"dqC\",\"2055-06-18 02:06:52\",\"aw7*u}BD\",8564,\";URVOy\\\",6572365037547972917,\"Sx>b:^UG\"\n"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "405": {
                        "$ref": "#/components/responses/MethodNotAllowedError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "operationId": "filter_keyword_and_date_index_improved_2_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "endDate": {
                                        "type": "string",
                                        "format": "date",
                                        "default": "2024-08-06",
                                        "description": ""
                                    },
                                    "keywords": {
                                        "type": "array",
                                        "default": [
                                            "hello",
                                            "test"
                                        ],
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": ""
                                    },
                                    "requireAll": {
                                        "type": "boolean",
                                        "description": ""
                                    },
                                    "startDate": {
                                        "type": "string",
                                        "format": "date",
                                        "default": "2024-08-05",
                                        "description": ""
                                    }
                                }
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "endDate": {
                                        "type": "string",
                                        "format": "date",
                                        "default": "2024-08-06",
                                        "description": ""
                                    },
                                    "keywords": {
                                        "type": "array",
                                        "default": [
                                            "hello",
                                            "test"
                                        ],
                                        "items": {
                                            "type": "string"
                                        },
                                        "description": ""
                                    },
                                    "requireAll": {
                                        "type": "boolean",
                                        "description": ""
                                    },
                                    "startDate": {
                                        "type": "string",
                                        "format": "date",
                                        "default": "2024-08-05",
                                        "description": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/pipes/count_video_matches.{format}": {
            "get": {
                "tags": [
                    "Pipes"
                ],
                "summary": "count_video_matches",
                "description": "",
                "parameters": [
                    {
                        "name": "format",
                        "required": true,
                        "in": "path",
                        "description": "Response format: `json` or `csv`",
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "description": "SQL statement to run a query against the data returned by the endpoint (e.g SELECT count() FROM _)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "TokenBearerHeader": [
                            "PIPES:READ:count_video_matches",
                            "ADMIN"
                        ]
                    },
                    {
                        "TokenQueryString": [
                            "PIPES:READ:count_video_matches",
                            "ADMIN"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endpoint result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryJSONResponse__count_video_matches"
                                },
                                "example": {
                                    "meta": [
                                        {
                                            "name": "count()",
                                            "type": "UInt64"
                                        }
                                    ],
                                    "data": [
                                        {
                                            "count()": 2804162938822577320
                                        },
                                        {
                                            "count()": 7885388429666205427
                                        },
                                        {
                                            "count()": 4357435422797280898
                                        }
                                    ],
                                    "rows": 3,
                                    "rows_before_limit_at_least": 3,
                                    "statistics": {
                                        "elapsed": 0.000591782,
                                        "rows_read": 3,
                                        "bytes_read": 24
                                    }
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryCSVResponse"
                                },
                                "example": "2804162938822577320\n7885388429666205427\n4357435422797280898\n"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "$ref": "#/components/responses/ForbiddenError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFoundError"
                    },
                    "405": {
                        "$ref": "#/components/responses/MethodNotAllowedError"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "operationId": "count_video_matches_get"
            },
            "post": {
                "tags": [
                    "Pipes"
                ],
                "summary": "count_video_matches",
                "description": "",
                "parameters": [
                    {
                        "name": "format",
                        "required": true,
                        "in": "path",
                        "description": "Response format: `json` or `csv`",
                        "schema": {
                            "type": "string",
                            "default": "json",
                            "enum": [
                                "json",
                                "csv"
                            ]
                        }
                    },
                    {
                        "name": "q",
                        "required": false,
                        "in": "query",
                        "description": "SQL statement to run a query against the data returned by the endpoint (e.g SELECT count() FROM _)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "security": [
                    {
                        "TokenBearerHeader": [
                            "PIPES:READ:count_video_matches",
                            "ADMIN"
                        ]
                    },
                    {
                        "TokenQueryString": [
                            "PIPES:READ:count_video_matches",
                            "ADMIN"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endpoint result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiQueryJSONResponse__count_video_matches"
                                },
                                "example": {
                                    "meta": [
                                        {
                                            "name": "count()",
                                            "type": "UInt64"
                                        }
                                    ],
                                    "data": [
                                        {
                                            "count()": 2804162938822577320
                                        },
                                        {
                                            "count()": 7885388429666205427
                                        },
                                        {
[...]
