{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0", 
    "title": "super.fans enterprise API",
    "termsOfService": "https://super.fans",
    "contact": {
      "email": "support@super.fans"
    }
  },
  "servers": [
    {
      "url": "https://super.fans"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/marketing-results": {
      "get": {
        "summary": "Get marketing results data",
        "description": "Retrieves categorized marketing data based on the specified target field",
        "parameters": [
          {
            "name": "dataTag",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The data tag to filter results (marketing tag)"
          },
          {
            "name": "target_field",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "adAffinities",
                "adTopics",
                "adInMarketAffinities",
                "keywords"
              ]
            },
            "description": "The type of marketing data to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "target_name": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "occurrence_count": {
                        "type": "integer"
                      },
                      "weighted_relevance": {
                        "type": "number"
                      },
                      "avg_exclusion_score": {
                        "type": "number"
                      },
                      "all_defenses": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Sample Output": {
                    "value": [
                      {
                        "target_name": "food & dining>fast food cravers",
                        "id": "92900",
                        "occurrence_count": 7,
                        "weighted_relevance": 9.285714285714286,
                        "avg_exclusion_score": 0.41582344259534565,
                        "all_defenses": [
                          "This affinity targets individuals who enjoy fast food, aligning with Wendy's target audience.",
                          "This affinity directly targets Wendy's lovers who frequently consume fast food, making it highly relevant.",
                          "This affinity directly targets Wendy's core audience, ensuring high relevance for the campaign.",
                          "This affinity targets fast food lovers, aligning with Wendy's target audience.",
                          "This affinity directly targets individuals who frequently consume fast food, aligning perfectly with Wendy's target audience."
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/channel-count": {
      "get": {
        "summary": "Get channel counts",
        "description": "Retrieve filtered and original channel counts based on date range, keywords, and other parameters.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for the data range (YYYY-MM-DD)"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for the data range (YYYY-MM-DD)"
          },
          {
            "name": "keywords",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Keywords to filter the data"
          },
          {
            "name": "requireAll",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            },
            "description": "Whether to require all keywords"
          },
          {
            "name": "dataTag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Data tag for filtering (audience tag)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "filteredCount": {
                      "type": "integer"
                    },
                    "originalCount": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "filteredCount": 1,
                  "originalCount": 1
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/comments-explorer": {
      "get": {
        "summary": "Get comments",
        "description": "Retrieve comments based on date range, keywords, and other parameters.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for the data range (YYYY-MM-DD)"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for the data range (YYYY-MM-DD)"
          },
          {
            "name": "keywords",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Keywords to filter the comments"
          },
          {
            "name": "requireAll",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            },
            "description": "Whether to require all keywords"
          },
          {
            "name": "comments_sortBy",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field to sort comments by"
          },
          {
            "name": "comments_orderBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            },
            "description": "Order direction for sorting"
          },
          {
            "name": "dataTag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Data tag for filtering (audience tag)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "username": {
                        "type": "string"
                      },
                      "profileImage": {
                        "type": "string"
                      },
                      "text": {
                        "type": "string"
                      },
                      "time": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "sentiment": {
                        "type": "number"
                      },
                      "likes": {
                        "type": "integer"
                      },
                      "replies": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "username": "@Black4Cook",
                    "profileImage": "https://yt3.ggpht.com/ytc/AIdro_kehdObPOZPnPCT81qv9gb76Qk9kaZeLjRebzRzAkwKgA=s48-c-k-c0x00ffffff-no-rj",
                    "text": "@@carolinaaparecida4368 No problem, I am annoyed by the ignorance of certain people who think they know everything but don't take 5 minutes to do their research. Certain US-Americans really don't know what is happening outside the country's borders but pretend to know.",
                    "time": "2024-09-09 19:47:20",
                    "sentiment": 4,
                    "likes": 0,
                    "replies": 0
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/detected-languages": {
      "get": {
        "summary": "Get top detected languages",
        "description": "Retrieve top 5 detected languages based on date range, keywords, and other parameters.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for the data range (YYYY-MM-DD)"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for the data range (YYYY-MM-DD)"
          },
          {
            "name": "keywords",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Keywords to filter the data"
          },
          {
            "name": "requireAll",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            },
            "description": "Whether to require all keywords"
          },
          {
            "name": "dataTag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Data tag for filtering (audience tag)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "count": {
                        "type": "integer"
                      },
                      "percentage": {
                        "type": "number"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "code": "en",
                    "count": 316403,
                    "percentage": 99.92
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/group-stats": {
      "get": {
        "summary": "Get group statistics",
        "description": "Retrieve group statistics based on date range, keywords, and other parameters.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for the data range (YYYY-MM-DD)"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for the data range (YYYY-MM-DD)"
          },
          {
            "name": "keywords",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Keywords to filter the data"
          },
          {
            "name": "requireAll",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            },
            "description": "Whether to require all keywords"
          },
          {
            "name": "dataTag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Data tag for filtering (audience tag)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalMentions": {
                      "type": "object",
                      "properties": {
                        "stat": {
                          "type": "string"
                        },
                        "chartData": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "day_of_week": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    },
                    "totalEngagement": {
                      "type": "object",
                      "properties": {
                        "stat": {
                          "type": "string"
                        },
                        "chartData": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "day_of_week": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    },
                    "avgSentiment": {
                      "type": "object",
                      "properties": {
                        "stat": {
                          "type": "string"
                        },
                        "chartData": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "day_of_week": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    },
                    "commentReplies": {
                      "type": "object",
                      "properties": {
                        "stat": {
                          "type": "string"
                        },
                        "chartData": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "day_of_week": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "totalMentions": {
                    "stat": "316,648",
                    "chartData": [
                      {
                        "day_of_week": "Sunday",
                        "value": 34860
                      },
                      {
                        "day_of_week": "Monday",
                        "value": 58581
                      },
                      {
                        "day_of_week": "Tuesday",
                        "value": 64041
                      },
                      {
                        "day_of_week": "Wednesday",
                        "value": 56337
                      },
                      {
                        "day_of_week": "Thursday",
                        "value": 52788
                      },
                      {
                        "day_of_week": "Friday",
                        "value": 33068
                      },
                      {
                        "day_of_week": "Saturday",
                        "value": 16973
                      }
                    ]
                  },
                  "totalEngagement": {
                    "stat": "2,050,207",
                    "chartData": [
                      {
                        "day_of_week": "Sunday",
                        "value": 10.55
                      },
                      {
                        "day_of_week": "Monday",
                        "value": 7.12
                      },
                      {
                        "day_of_week": "Tuesday",
                        "value": 6.17
                      },
                      {
                        "day_of_week": "Wednesday",
                        "value": 6.79
                      },
                      {
                        "day_of_week": "Thursday",
                        "value": 6.68
                      },
                      {
                        "day_of_week": "Friday",
                        "value": 3.3
                      },
                      {
                        "day_of_week": "Saturday",
                        "value": 1.5
                      }
                    ]
                  },
                  "avgSentiment": {
                    "stat": "4.32",
                    "chartData": [
                      {
                        "day_of_week": "Sunday",
                        "value": 4.3
                      },
                      {
                        "day_of_week": "Monday",
                        "value": 4.26
                      },
                      {
                        "day_of_week": "Tuesday",
                        "value": 4.29
                      },
                      {
                        "day_of_week": "Wednesday",
                        "value": 4.33
                      },
                      {
                        "day_of_week": "Thursday",
                        "value": 4.44
                      },
                      {
                        "day_of_week": "Friday",
                        "value": 4.39
                      },
                      {
                        "day_of_week": "Saturday",
                        "value": 4.23
                      }
                    ]
                  },
                  "commentReplies": {
                    "stat": "156,499",
                    "chartData": [
                      {
                        "day_of_week": "Sunday",
                        "value": 28297
                      },
                      {
                        "day_of_week": "Monday",
                        "value": 34880
                      },
                      {
                        "day_of_week": "Tuesday",
                        "value": 34036
                      },
                      {
                        "day_of_week": "Wednesday",
                        "value": 28042
                      },
                      {
                        "day_of_week": "Thursday",
                        "value": 25243
                      },
                      {
                        "day_of_week": "Friday",
                        "value": 4840
                      },
                      {
                        "day_of_week": "Saturday",
                        "value": 1161
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/keyword-chart": {
      "get": {
        "summary": "Get keyword statistics",
        "description": "Retrieve keyword statistics based on date range, keywords, and other parameters.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for the data range (YYYY-MM-DD)"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for the data range (YYYY-MM-DD)"
          },
          {
            "name": "keywords",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Keywords to filter the data"
          },
          {
            "name": "requireAll",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            },
            "description": "Whether to require all keywords"
          },
          {
            "name": "dataTag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Data tag for filtering"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "score": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 100
                    }
                  }
                },
                "example": {
                  "score": 100
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/popular-keywords": {
      "get": {
        "summary": "Get popular keywords",
        "description": "Retrieve popular keywords based on the provided data tag.",
        "parameters": [
          {
            "name": "dataTag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Data tag for filtering keywords"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "example": [
                  "NFL",
                  "football",
                  "Pat McAfee",
                  "fans",
                  "team",
                  "sports",
                  "game",
                  "Super Bowl",
                  "show",
                  "playoffs",
                  "money",
                  "players",
                  "trade",
                  "quarterback",
                  "Aaron Rodgers",
                  "contract",
                  "coaching",
                  "QB",
                  "Football",
                  "Chiefs"
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/top-videos": {
      "get": {
        "summary": "Get top videos",
        "description": "Retrieve top videos based on date range, keywords, and other parameters.",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for the data range (YYYY-MM-DD)"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for the data range (YYYY-MM-DD)"
          },
          {
            "name": "keywords",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Keywords to filter the videos"
          },
          {
            "name": "requireAll",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            },
            "description": "Whether to require all keywords"
          },
          {
            "name": "dataTag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Data tag for filtering"
          },
          {
            "name": "content_filterType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["sentiment", "likes", "mentions", "replies"]
            },
            "description": "Type of content filter to apply"
          },
          {
            "name": "content_category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["channel", "video"]
            },
            "description": "Category of content to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "thumbnail": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "thumbnail": "https://i.ytimg.com/vi/__dBgzkonUA/default.jpg",
                    "title": "NATIONAL DISASTER: Japan Beats Team USA National Team In Football... HOW DID THIS HAPPEN?!",
                    "value": "0"
                  },
                  {
                    "thumbnail": "https://i.ytimg.com/vi/vWAmEEhp72U/default.jpg",
                    "title": "NFL Has Officially Banned \"Hip Drop Tackle\" Despite Players & NFLPA Objections | Pat McAfee Reacts",
                    "value": "0"
                  },
                  {
                    "thumbnail": "https://i.ytimg.com/vi/bPKhsBAL_08/default.jpg",
                    "title": "Players HATE NFL's New Proposed 15 Yard Penalty For Vague \"Hip Drop Tackle\" | Pat McAfee Reacts",
                    "value": "0"
                  },
                  {
                    "thumbnail": "https://i.ytimg.com/vi/KIHpdEcAdNQ/default.jpg",
                    "title": "Chiefs Sign Rugby Star, Built Like An ANIMAL | Pat McAfee Reacts",
                    "value": "0"
                  },
                  {
                    "thumbnail": "https://i.ytimg.com/vi/j5xBlwtoEjs/default.jpg",
                    "title": "Massive Sunday Ticket Lawsuit May Change How We Watch NFL Forever... | Pat McAfee Reacts",
                    "value": "0"
                  },
                  {
                    "thumbnail": "https://i.ytimg.com/vi/rbRrXI83_Co/default.jpg",
                    "title": "Pat McAfee Breaks Down The New NFL's \"Hybrid Kickoff\" Proposal That May Not Ruin Football",
                    "value": "0"
                  },
                  {
                    "thumbnail": "https://i.ytimg.com/vi/_lVA4SvZ_As/default.jpg",
                    "title": "People Are PISSED About The Chiefs (& Taylor Swift) Making It To The Super Bowl | Pat McAfee Reacts",
                    "value": "0"
                  },
                  {
                    "thumbnail": "https://i.ytimg.com/vi/c6_6gk7ZeKk/default.jpg",
                    "title": "NFL Debuted New Kickoff & People Are Split On It | Pat McAfee Reacts",
                    "value": "0"
                  },
                  {
                    "thumbnail": "https://i.ytimg.com/vi/p-khNWHr1Yo/default.jpg",
                    "title": "Aaron Rodgers Issues Response To Jimmy Kimmel's Monologue About Him | Pat McAfee Show",
                    "value": "0"
                  },
                  {
                    "thumbnail": "https://i.ytimg.com/vi/a5F9EdAZJfs/default.jpg",
                    "title": "Nick Saban Gives BRUTALLY Honest Take On The State Of Modern College Football... | Pat McAfee Reacts",
                    "value": "0"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/video-count": {
      "get": {
        "summary": "Get video counts",
        "description": "Retrieve filtered and original video counts based on date range, keywords, and other parameters.",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for the data range (YYYY-MM-DD)"
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for the data range (YYYY-MM-DD)"
          },
          {
            "name": "keywords",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Keywords to filter the videos"
          },
          {
            "name": "requireAll",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["true", "false"]
            },
            "description": "Whether to require all keywords"
          },
          {
            "name": "dataTag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Data tag for filtering"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "filteredCount": {
                      "type": "integer"
                    },
                    "originalCount": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "filteredCount": 654,
                  "originalCount": 1035
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/transcripts": {
      "get": {
        "summary": "Get transcripts",
        "description": "Retrieve transcripts based on the video analysis dataTag",
        "parameters": [
          {
            "name": "dataTag",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Input tag to filter data",
            "required": true
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of results to return (Max 1000)"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of results to skip in order to paginate through results"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transcripts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "channelName": {
                            "type": "string"
                          },
                          "customFields": {
                            "type": "string"
                          },
                          "transcriptRaw": {
                            "type": "string"
                          },
                          "transcriptText": {
                            "type": "string"
                          },
                          "videoId": {
                            "type": "string"
                          },
                          "videoThumbnail": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "Invalid or malformed user input: check your SQL, parameters, and encoding"
      },
      "UnauthorizedError": {
        "description": "Unauthorized request"
      },
      "ForbiddenError": {
        "description": "Access token is missing or invalid: the request does not have enough permissions to be completed"
      },
      "NotFoundError": {
        "description": "Resource not found: the data source, pipe, or endpoint is missing"
      },
      "MethodNotAllowedError": {
        "description": "The method is not allowed in this resource"
      },
      "InternalServerError": {
        "description": "Server could not fulfill the request due to an internal problem: contact support@tinybird.co"
      }
    },
    "schemas": {
      "ApiQueryJSONResponseMetaItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ApiQueryJSONResponseStatistics": {
        "type": "object",
        "properties": {
          "elapsed": {
            "type": "number"
          },
          "rows_read": {
            "type": "number"
          },
          "bytes_read": {
            "type": "number"
          }
        }
      },
      "ApiQueryJSONResponseDataItem": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        }
      },
      "ApiQueryJSONResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiQueryJSONResponseMetaItem"
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiQueryJSONResponseDataItem"
            }
          },
          "rows": {
            "type": "number"
          },
          "rows_before_limit_at_least": {
            "type": "number"
          },
          "statistics": {
            "$ref": "#/components/schemas/ApiQueryJSONResponseStatistics"
          }
        },
        "required": ["meta", "data", "rows", "statistics"]
      },
      "ApiQueryCSVResponse": {
        "type": "string",
        "format": "csv"
      },
      "ApiQueryJSONResponseDataItem__video_matches": {
        "type": "object",
        "properties": {
          "videoId": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "ApiQueryJSONResponse__video_matches": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiQueryJSONResponseMetaItem"
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiQueryJSONResponseDataItem__video_matches"
            }
          },
          "rows": {
            "type": "number"
          },
          "rows_before_limit_at_least": {
            "type": "number"
          },
          "statistics": {
            "$ref": "#/components/schemas/ApiQueryJSONResponseStatistics"
          }
        },
        "required": ["meta", "data", "rows", "statistics"]
      },
      "ApiQueryJSONResponseDataItem__all_statistics": {
        "type": "object",
        "properties": {
          "replies": {
            "type": "integer",
            "format": "int64"
          },
          "likes": {
            "type": "integer",
            "format": "int64"
          },
          "mentions": {
            "type": "integer",
            "format": "int64"
          },
          "sentiment": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "ApiQueryJSONResponse__all_statistics": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiQueryJSONResponseMetaItem"
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiQueryJSONResponseDataItem__all_statistics"
            }
          },
          "rows": {
            "type": "number"
          },
          "rows_before_limit_at_least": {
            "type": "number"
          },
          "statistics": {
            "$ref": "#/components/schemas/ApiQueryJSONResponseStatistics"
          }
        },
        "required": ["meta", "data", "rows", "statistics"]
      },
      "ApiQueryJSONResponseDataItem__all_statistics_per_day_of_week": {
        "type": "object",
        "properties": {
          "day_of_week": {
            "type": "integer",
            "format": "uint8"
          },
          "likes": {
            "type": "number",
            "format": "double"
          },
          "sentiment": {
            "type": "number",
            "format": "double"
          },
          "mentions": {
            "type": "integer",
            "format": "int64"
          },
          "replies": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ApiQueryJSONResponse__all_statistics_per_day_of_week": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiQueryJSONResponseMetaItem"
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiQueryJSONResponseDataItem__all_statistics_per_day_of_week"
            }
          },
          "rows": {
            "type": "number"
          },
          "rows_before_limit_at_least": {
            "type": "number"
          },
          "statistics": {
            "$ref": "#/components/schemas/ApiQueryJSONResponseStatistics"
          }
        },
        "required": ["meta", "data", "rows", "statistics"]
      },
      "ApiQueryJSONResponseDataItem__all_statistics_daily": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "sentiment": {
            "type": "number",
            "format": "double"
          },
          "replies": {
            "type": "integer",
            "format": "int64"
          },
          "likes": {
            "type": "integer",
            "format": "int64"
          },
          "mentions": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ApiQueryJSONResponse__all_statistics_daily": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiQueryJSONResponseMetaItem"
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiQueryJSONResponseDataItem__all_statistics_daily"
            }
          },
          "rows": {
            "type": "number"
          },
          "rows_before_limit_at_least": {
            "type": "number"
          },
          "statistics": {
            "$ref": "#/components/schemas/ApiQueryJSONResponseStatistics"
          }
        },
        "required": ["meta", "data", "rows", "statistics"]
      },
      "ApiQueryJSONResponseDataItem__sample_comments": {
        "type": "object",
        "properties": {
          "data_textOriginal": {
            "type": "string"
          },
          "data_authorChannel_Id_value": {
            "type": "string"
          },
          "data_authorProfileImageUrl": {
            "type": "string"
          },
          "data_likeCount": {
            "type": "integer",
            "format": "int32"
          },
          "numReplies": {
            "type": "integer",
            "format": "int16"
          },
          "ai_sentiment_mock": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "ApiQueryJSONResponse__sample_comments": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiQueryJSONResponseMetaItem"
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiQueryJSONResponseDataItem__sample_comments"
            }
          },
          "rows": {
            "type": "number"
          },
          "rows_before_limit_at_least": {
            "type": "number"
          },
          "statistics": {
            "$ref": "#/components/schemas/ApiQueryJSONResponseStatistics"
          }
        },
        "required": ["meta", "data", "rows", "statistics"]
      }
    }
  }
}
